@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Bold.woff2') format('woff2'),
        url('../font/lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Regular.woff2') format('woff2'),
        url('../font/lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Medium.woff2') format('woff2'),
        url('../font/lato/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../font/inter/Inter-Bold.woff2') format('woff2'),
        url('../font/inter/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/lato/Lato-Black.woff2') format('woff2'),
        url('../font/lato/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


