@mixin display-f($align:center , $jc: center) {
    display: flex;
    align-items: $align;
    justify-content: $jc;
}
@mixin flexw($width) {
    max-width: $width;
    flex-basis: $width;
}
@mixin tranistions- {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
@mixin rotate($deg){
    transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
}

@mixin backgoundformat($image , $cover: cover) {
    background-image: $image;
    background-position: center;
    background-size: $cover;
    background-repeat: no-repeat;
}

@mixin smcontainer($width) {
    max-width: $width;
    margin: 0 auto;
}

@mixin fontvariable($size , $w , $lineheight: 1.1 , $family: 'Lato') {
    font-size: $size;
    font-weight: $w;
    line-height: $lineheight;
    font-family: $family;
}

// @mixin paddings($top: 100px, $right: 0px, $bottom: 100px, $left: 0px) {
//     padding-top: $top;
//     padding-right: $right;
//     padding-bottom: $bottom;
//     padding-left: $left;
//     @include mq(xxl){
//         padding-top: 90px;
//         padding-bottom: 90px;
//     }
//     @include mq(laptop){
//         padding-top: 70px;
//         padding-bottom: 70px;
//     }
//     @include mq(phablet){
//         padding-top: 50px;
//         padding-bottom: 50px;
//     }
// }

@mixin fit-image($coverd: cover, $height: 100%) {
    width: 100%;
    object-fit: $coverd;
    height: $height;
}
@mixin tranistions($trans) {
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
}

// @mixin after($content: "", $pos: absolute, $a-width: 100%, $a-height: 100%, $lf: 0, $rf: 0, $tp: 0, $btm: 0, $index: -1) {
//     content: $content;
//     position: $pos;
//     width: $a-width;
//     height: $a-height;
//     left: $lf;
//     right: $rf;
//     top: $tp;
//     bottom: $btm;
//     z-index: $index;
// }

@mixin text-align($text: center) {
    text-align: $text;
}

@mixin relation($rel: relative, $index: 1) {
    position: $rel;
    z-index: $index;
}
@mixin mq($point) {
    @if $point ==xxxxl {
        @media (max-width: 1700px) {
            @content ;
        }
    }

    @else if $point ==cmtab {
        @media (min-width: 2000px) {
            @content ;
        }
    }

    @else if $point ==smscreen {
        @media (max-width: 1399px) {
            @content ;
        }
    }

    // edited
    @else if $point ==xxl {
        @media (max-width: 1399px) {
            @content ;
        }
    }

    @else if $point ==laptop {
        @media (max-width: 1199px) {
            @content ;
        }
    }

    @else if $point ==tablet {
        @media (max-width: 991px) {
            @content ;
        }
    }

    @else if $point ==phablet {
        @media (max-width: 767px) {
            @content ;
        }
    }

    @else if $point ==mobile {
        @media (max-width: 575px) {
            @content ;
        }
    }

    @else if $point ==vsmall {
        @media (max-width: 480px) {
            @content ;
        }

    }
}

@mixin psudeo(
    $loc: after,
    $content: "",
    $pos: absolute,
    $top: 0,
    $bottom: 0,
    $right: 0,
    $left: 0,
    $z-index:1,
    $after-index:-1) {
    position: relative;
    z-index: $z-index;
    &::#{$loc}{
        content: $content;
        position: $pos;
        top: $top;
        bottom: $bottom;
        right: $right;
        left: $left;
        z-index: $after-index;
        @content;
    }
}

@mixin border-radius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}